<div class="accordion-heading"  id="div_toogle_taxonPanel" >
  <a class="accordion-toggle collapse-title" id="toogle_taxonPanel" data-toggle="collapse" data-target="#taxon-panel">
    <i class="icon-chevron-down icon-white iconRoundBackground"></i>
    <span class="panel-title"><%= name %></span>
  </a>
</div>
<div id="taxon-panel" class="collapse in">
  <div>
    <div>
      <p class="credits">External link EOL : <a class='ui-link' href="#"  onClick="window.open('http://eol.org/collections/<%= collectionid %>','_blank','location=yes');" alt="more details on eol.org" target="_blank"><%= name %></a></p>          
    </div>
    <div id="photoContent" class="clipzone">
      <img id="taxon" src="data/images_collection/<%= logo %>" width="100" class="clipped"/>
    </div>
    <% if ( description ){ %>
    <div class="accordion-heading"  id="div_toogle_taxonDetail" >
      <a class="accordion-toggle collapse-title collapsed ui-btn-inner" id="toogle_taxonPanel" data-toggle="collapse" data-target="#collapsibleElementDetail">
        <i class= "icon-plus icon-white iconRoundBackground"></i>
        <span class="panel-title">Details</span>
      </a>
    </div>
    <div class="collapse" id="collapsibleElementDetail">
      <div>
          <p id="desc-Description"><%=description %> </p>
      </div>
    </div>
    <% } %>
  </div>
</div>

