<div id='menu-lateral'>
  <ul>
  <a href=''><img src='css/images/menu/logo_M-EOL-menu.png'/></a>
  <li id='lien-discover'><a href='#gallery'></a></li>
  <li id='lien-play'><a href='#play' class='ui-btn-active ui-state-persist'></a></li>
  <li id='lien-contribute'><a href='#' class='ui-disabled'></a></li>
  <li id='lien-profil'><a href="#profil/<%= profil.Tprofil_PK_Id %>"></a></li>
  </ul>
</div>

<div id="gamePanel">
  <div class="collectionName"><h1><%= gallery.name %></h1></div>

  <div class="modal hide" id="myModal" data-backdrop="false">
    <div class="modal-header gradientDarkBlue">
      <h3><em id="txtMessageModal"></em></h3>
    </div>
    <div class="modal-body">
      <h4 id="scoreMessageModal"></h4>
      <h4 id='bonusMessageModal'></h4>
      <ul id="reponseMessageModal"></ul>
    </div>
    <div class="modal-footer gradientDarkBlue">
      <em>Try a new continent by clicking on the dice button!</em>
    </div>
  </div>
  
  <div class="alert alert-block fade in" id="collectionModal" style="display: none;" >
    <div class="modal-body">
      <h4 id='activateCollMessageModal'></h4>
    </div>
  </div>
  
  
  <div class="modal hide" id="confirmbox" data-backdrop="false">
    <div class="modal-header gradientDarkBlue">
    </div>
    <div class="modal-body">
      <p id="confirmMessage">Any confirmation message?</p>
    </div>
    <div class="modal-footer gradientDarkBlue">
      <button type="button" data-dismiss="modal" aria-hidden="true" class="btn" id="confirmTrue">Validate</button>
      <button type="button" data-dismiss="modal" aria-hidden="false" class="btn" id="confirmFalse">Cancel</button>
    </div>
  </div>



  <div id="map" class=""></div>
  <div id="scorePanel">
    <div id="iconUser" ></div>
    <h2>Player 1</h2>
    <div class="progress progress-striped active">
      <div class="bar" id="meterScore" style="width:<% if(typeof(score.score) != 'undefined') { %> <%= score.score/20 %>%<% }else{%>0<%};%>"></div>
    </div>
    <input id="scoreTotalValue" type="hidden" value ="0"/>
    <input id="scoreValue" type="hidden" value = "<% if(typeof(score.score) != 'undefined') { %> <%= score.score %> <% }else{%>0<%};%>"/>
    <label>Score</label>
    <span id ="scoreText" class="scoreSpan"><% if(typeof(score.score) != 'undefined') { %> <%= score.score %> <% }else{%>0<%};%></span>
    <label>BONUS</label>
    <input id="bonusValue" type="hidden" value = "0"/>
    <span id ="bonus" class="scoreSpan">0</span>
    <input id="nbAnwserGoodValue" type="hidden" value = "0"/>
    <label>Sequence</label>
    <input id="nbAnwserGoodSequenceValue" type="hidden" value = "<% if(typeof(score.nbAnswerGoodSequence) != 'undefined') { %> <%= score.nbAnswerGoodSequence %> <% }else{%>0<%};%>"/>
    <span class="scoreSpan">
      <span id ="nbAnwserGoodSequenceText"><% if(typeof(score.nbAnswerGoodSequence) != 'undefined') { %> <%= score.nbAnswerGoodSequence %> <% }else{%>0<%};%></span>
      <span> / </span>
      <span id ="nbAnwserGoodSequenceRecordText"><% if(typeof(score.nbAnswerGoodSequence) != 'undefined') { %> <%= score.nbAnswerGoodSequence %> <% }else{%>0<%};%></span>
    </span>
  </div>
  <div><button id="selectRandomContinent" class="pull-right playRandom" ></button></div> 
    
  <div id="requestPanel" class="gradientDarkBlue">
    <input id="currentContinent" type="hidden"/>
    <div id="firstMessagePlay" style="display:inherit;"><h2><em>Click on dice button to begin the party!</em><h2></div>
    <div id="continentName" class="" style="display:none;"><h2>Which one these can be found in <em><span class = "txtCurrentContinent">Continent</span>?</em></h2></div>
    <div id="taxonSelectList" class="row-fluid"></div>
  </div>
    
</div>



<div id="gameDetailPanel" class="hidden">
  <button id="returnToGame" class="btn-primary">Back to game</button>
  <div id="graph-panel"></div>
</div>
<script>
     
</script>
