<div id='menu-lateral'>
  <ul>
  <a id='home' class="gameQuit"><img src='css/images/menu/logo_M-EOL-menu.png'/></a>
  <li id='lien-discover'><a id='gallery' class="gameQuit"></a></li>
  <li id='lien-play'><a id='play' class='ui-btn-active ui-state-persist gameQuit'></a></li>
  <li id='lien-profil'><a id="profil/<%= profil.Tprofil_PK_Id %>" class="gameQuit"></a></li>
  <li id='lien-contribute'><a id='feedback' class="gameQuit"></a></li>
  </ul>
</div>

<div id="gamePanel">
  <div class="collectionName"><h1><%= gallery.name %></h1></div>

  <div class="modal hide" id="myModal" data-backdrop="false">
    <div class="modal-header gradientDarkBlue">
      <h3><em id="txtMessageModal"></em></h3>
    </div>
    <div class="modal-body">
      <h4 id="scoreMessageModal"></h4>
      <h4 id='bonusMessageModal'></h4>
      <ul id="reponseMessageModal"></ul>
    </div>
    <div class="modal-footer gradientDarkBlue">
      <em>Try a new continent by clicking on the dice button!</em>
    </div>
  </div>
  
  <div class="modal hide" id="gameQuitModal" data-backdrop="false">
    <div class="modal-body">
     <p>Are you sure you want to quit this game?</p>
    </div>
    <div class="modal-footer gradientDarkBlue">
      <button type="button" class="btn btn-danger" id="gameQuitValidate">Quit</button>
      <button type="button" class="btn" data-dismiss="modal" aria-hidden="true" id="gameQuitCancel">Cancel</button>
    </div>
  </div>
  
  <div class="alert alert-block fade in" id="collectionModal" style="display: none;" >
    <div class="modal-body">
      <h4 id='activateCollMessageModal'></h4>
      <button type="button" data-dismiss="alert" aria-hidden="true" class="btn-primary btn-large" id="navigateNewGallery">Play with this collection!</button>
    </div>
  </div>
  
 


  <div id="map" class=""></div>
  <div id="scorePanel">
    <div id="iconUser" ></div>
    <h2><%= profil.pseudo %></h2>
    <div class="progress progress-striped active">
      <div class="bar" id="meterScore" style="width:<% if(typeof(score.score) != 'undefined') { %> <%= score.score/200 %>%<% }else{%>0<%};%>"></div>
    </div>
    <input id="scoreTotalValue" type="hidden" value ="<% if(typeof(score.score) != 'undefined') { %> <%= score.score %> <% }else{%>0<%};%>"/>
    <input id="scoreValue" type="hidden" value = "<% if(typeof(score.score) != 'undefined') { %> <%= score.score %> <% }else{%>0<%};%>"/>
    <label>Collection score</label>
    <span id ="scoreText" class="scoreSpan"><% if(typeof(score.score) != 'undefined') { %> <%= score.score %> <% }else{%>0<%};%></span>
    <label>Bonus</label>
    <input id="bonusValue" type="hidden" value = "0"/>
    <span id ="bonus" class="scoreSpan">0</span>
    <input id="nbAnwserGoodValue" type="hidden" value = "0"/>
    <label>Series</label>
    <input id="nbAnwserGoodSequenceValue" type="hidden" value = "<% if(typeof(score.nbAnswerGoodSequence) != 'undefined') { %> <%= score.nbAnswerGoodSequence %> <% }else{%>0<%};%>"/>
    <span class="scoreSpan">
      <span id ="nbAnwserGoodSequenceText"><% if(typeof(score.nbAnswerGoodSequence) != 'undefined') { %><%=score.nbAnswerGoodSequence%><% }else{%>0<%};%></span>
      <span> / </span>
      <span id ="nbAnwserGoodSequenceRecordText"><% if(typeof(score.nbAnswerGoodSequence) != 'undefined') { %><%=score.nbAnswerGoodSequence%><% }else{%>0<%};%></span>
    </span>
    <label>Total score</label>
    <span id ="allScore" class="scoreSpan"><% if(typeof(allScore) != 'undefined') { %> <%=allScore%> <% }else{%>0<%};%></span>
    <button class="btn btn-small pull-right infoBtn" id="ruleBtn">Help</button>
  </div>
  <div><button id="selectRandomContinent" class="pull-right playRandom" ></button></div>
  
  <div id="requestPanel" class="gradientDarkBlue">
    <input id="currentContinent" type="hidden"/>
    <div id="firstMessagePlay" style="display:inherit;"><h2><em>Click on the dice button to begin the game </em><img src="css/images/play/meol-rarrow-simple.png"/></h2></span></div>
    <div id="continentName" class="" style="display:none;"><h2>Which one of these can be found in <em><span class = "txtCurrentContinent">Continent</span>?</em></h2></div>
    <div id="taxonSelectList" class="row-fluid"></div>
  </div>
    
</div>

<!-- Modal Rules of the game -->
<div class="modal hide" id="rulesModal" data-backdrop="false">
  <div class="modal-header gradientDarkBlue">
    <button type="button" class="close btn-large" data-dismiss="modal" aria-hidden="true">×</button>
    <h3><em>M-EOL game</em></h3>
  </div>
  <div class="modal-body">
    <p>In this game, you are an explorer discovering different species by travelling around the world. You can earn points as you journey to different continents by answering questions about which species live on the continents that you visit.
    You earn points for each correct answer and bonus points for answering several correctly in a row.<br/>
    During your quest, you will be presented with the species selected from an Encyclopedia of Life Collection. Earning points will unlock new collections. More than 20 000 points are needed to unlock a new collection.</p>
    <hr>
    <h4>How to earn points</h4>
    <p>Throughout your expedition, you are asked multiple choice questions. Each correct answer will earn you up to 1000 points.<br/>
    The number of earned points depends on the level of difficulty of the question. Sometimes you might earn less than 1000 points.
    If you want a detailed explanation about how scoring works, keep reading!<br/>
    <strong>Why you might earn less than 1000 points for an answer:</strong>
    <p>
  <p><strong>1. A species that lives on more than a continent is easier to guess. Points are subtracted as follows:</strong><br/>
1000 – (10*number of continents) <em>[from 2 continents]</em></p>
  <p><strong>2. If species is endangered, it is usually better known, and so not as difficult as lesser known species. Points are reduced as follows:</strong><br/>
1000 – (10 * conservation status weight)
  <em>Conservation status weighting:<br/>
LC = 3; NT = 5; VU = 8; [CR, EW, EX] = 21</em></p>
  <p><strong>3. If more than one of the species listed are correct, points are also subtracted:</strong><br/>
1000 – (50*number of correct answers) <em>[from 2 correct answers]</em></p>
  <p style="font-size:12px;">Note that if more than one of the 3 situations above occurs in a question, the number of points subtracted will be combined.</p>
  <img src="css/images/rulesModal/2answers.png"/>
  <hr>
  <h4>Bonus Points</h4>
  <p>The key to getting a high score and improving your chances of quickly unlocking a new collection is to earn bonuses.<br/>
  A bonus occurs when you successfully answer a series of questions in a row.<br/>
For 3 or more correct answers, the bonus is calculated according to a Fibonacci sequence:</p>
  <ul>
    <li>3 correct answers in a row: 3 * 100</li>
    <li>4 correct answers in a row: 5 * 100</li>
    <li>n correct answers in a row: Fn * 100</li>
  </ul>
  <p><em>The 10 first Fibonacci numbers Fn for n = 3, ... , 20 are:</em></p>
  <table>
    <tr><td>F<sub>3</sub></td><td>F<sub>4</sub></td><td>F<sub>5</sub></td><td>F<sub>6</sub></td><td>F<sub>7</sub></td><td>F<sub>8</sub></td><td>F<sub>9</sub></td><td>F<sub>10</sub></td><td>F<sub>11</sub></td><td>F<sub>12</sub></td></tr>
    <tr><td>3</td><td>5</td><td>8</td><td>13</td><td>21</td><td>34</td><td>55</td><td>89</td><td>144</td><td>233</td></tr>
  </table>
  <p>Once you answer incorrectly, you have to beat the last record to obtain new bonus.</p>
  
  </div>

</div>


<div id="gameDetailPanel" class="hidden">
  <h2 id="subTitle">Graph displays taxonomic relationships among species</h2>
  <button id="returnToGame" class="btn-primary btn-large">Back to the game</button>
  <div id="graph-panel"></div>
</div>

