<!--<div class="header">
    <a href="#" class="header-button header-button-left header-back-button"><button>Back</button></a>
</div>-->

<div id='menu-lateral'>
  <ul>
  <a href=''><img src='css/images/menu/logo_M-EOL-menu.png'/></a>
  <li id='lien-discover'><a href='#gallery'></a></li>
  <li id='lien-play'><a href='#play' class='ui-btn-active ui-state-persist'></a></li>
  <li id='lien-profil'><a href="#profil/1"></a></li>
  <li id='lien-contribute'><a href='#feedback' ></a></li>
  </ul>
</div>

<div id="play-list-gallery-content" class="container">
  <div id="listeVignetteCollectionPlay">
    <h1 id="pictoCollectionPlay">Playable collections</h1>
    <fieldset id ="radioCollection" class="" >
      <div id="play-list-gallery" class="galleryList">
        <div>
          <%
            var groups = _.groupBy(collection.models,function(item,key,list){
                return item.get('level');
            });
            _.each(groups,function(group,i,list){
                var level = group[0].get('level');
          %>
            <ul class="head" >
              <li><h2 class="gradientDarkBlue">LEVEL <%= level %></h2></li>
            <li>
              <ul>
             <%  
              _.each(group,function(item,key,list){
            %>
                <li><a id='<%= item.get('collectionid') %>' href='#play/<%= item.get('collectionid') %>' class="ui-btn ui-btn-corner-all
                <% if(item.get('active') == "false"){%><%="disabled"%><%}; %>">
                  <img src="data/images_collection/<%= item.get('logo') %>" class="list-icon"/>
                  <div class="taxonName">
                    <p><%= item.get('name') %></p>
                  </div>
                  </a>
                </li>
            <% });%>
              </ul>
            </li>
          </ul>
          <% }); %>
        </div>     
      </div>
    </fieldset>
    <button class="btn btn-small pull-right infoBtn" id="descPlayBtn">Information</button>
  </div>
</div>

<div class="modal hide" id="descPLayModal" data-backdrop="false">
  <div class="modal-header gradientDarkBlue">
    <button type="button" class="close btn-large" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Information</h3>
  </div>
  <div class="modal-body">
    <p class='description'>M-EOL game depicts the travel of an explorer discovering different species around the world. Become this explorer by answering questions about presence of particular species on each visited continent.</p>
  </div>
</div>
