<div id='menu-lateral'>
  <ul>
    <a href=''><img src='css/images/menu/logo_M-EOL-menu.png'/></a>
    <li id='lien-discover'><a href='#gallery'></a></li>
    <li id='lien-play'><a href='#play'></a></li>
    <li id='lien-contribute'><a href='#contribute'></a></li>
    <li id='lien-profil'><a href="#profil/<%= model.get('Tprofil_PK_Id')%>" class='ui-btn-active ui-state-persist'></a></li>
  </ul>
</div>

<div id=profilPage>
  <h1 id="pictoProfil">Profile</h1> 
  <h2><%=model.get('pseudo') %></h2>
  <%console.log(scoreTotal)%>
  <p>Current Level : <em><%= lastActiveGalleryName%></em></p>
  <p>Score Total : <%=scoreTotal%></p>
  <div id="profileTable"></div> 
  
</div>
