<fieldset>
	<p>Score Total : <b><%=scoreTotal%></b></p>
	<p>Current Level : <b><em><%= lastActiveGalleryName%></em></b></p>

<div id="profileTableScore">
    <table>
      <% console.log(collection)%>
      <% var i=0; 
      _.each(collection, function(score) { %>
     
      <tbody>
        <thead>
          <tr class="head gradientDarkBlue">
            <td>Collection</td>
            <td>Score</td>
          </tr>
        </thead>
        <tr id="score-<%= collection[i].fk_profil %>">
          <td><%= directory.data.galleriesList.findWhere({'collectionid' : String(collection[i].fk_gallery)}).get('name')%></td>
          <td><%= collection[i].score_max%></td>
        </tr>
      <% i = i+1; }); %>
      </tbody>
    </table>
</div>

